{% extends 'base_app/base.html' %}
{% load static %}
{% block head %}

<link href="{% static 'news_app/news.css' %}" rel="stylesheet">
{% endblock %}

{% block news %}schwarzer_hintergrund_navbar{% endblock %}
{% block content %}

<!-- Header Section -->


<!-- Header Section end-->

<!-- Blog section-->
<section class="blog-page set-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% for element in object_list %}

        <div class="blog-item">
          <div class="blog-thumb">
            <img src="{{element.bild.large.url}}" width="80%" alt="">
            {% if element.datum %}
            <div class="blog-date">{{element.datum}}</div>
            {% endif %}
          </div>



          <div class="blog-content">
            <h3>{{element.titel}}</h3>
            <div class="blog-metas">
              <div class="blog-meta">In Photography</div>
              <div class="blog-meta">By Hubertus Meyr</div>
            </div>
            <p>{{element.text|linebreaks|urlize|slice:"150" }} . . .</p>

            <a href="{{element.get_absolute_url}}" class="site-btn sb-dark"><span>Mehr lesen</span></a>
          </div>

        </div>


        {% endfor %}










        {% if is_paginated %}
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}

          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>

            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
          <li class="page-item active">
            <a class="page-link"> <span>{{ i }} <span class="sr-only">(current)</span></span></a>

          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          {% endif %}
        </ul>


        {% endif %}



      </div>
    </div>
  </div>
</section>
<!-- Blog section end-->
<!-- Blog section end-->
{% endblock %}
