{% extends 'base_app/base.html' %}
{% load static %}

{% block news_klasse %}
class="header-section"
{% endblock %}

{% block news_klasse_2 %}
{% endblock %}
{% block content %}
	<!-- Gallerie Section -->




  <!-- Gallerie Section -->
    <section class="portfilio-page">
		<div class="portfolios-area">
			<div class="grid-sizer"></div>
			<div class="grid-item portfolio-item __big __wide">
				<div class="portfolio-intro text-white" >
					<span>Professional Photographer</span>
					<h2>My Portfolio</h2>
					<ul class="portfolio-filter controls">
            	<li class="control" data-filter="all">All</li>
    {% for element in kategorie_gallery %}

						<li class="control" data-filter=".{{element.kategorie_name}}">{{element.kategorie_name}}</li>
						    {% endfor %}
					</ul>
				</div>
			</div>


			    {% for element in kategorie_gallery %}

          {% for bild in element.bilder_set.all %}
          {{bild.mein_neues_feld}}
          {% if bild.mein_neues_feld == 'schwarz' %}
          <a href="{{bild.get_absolute_url}}" class="grid-item mix portfolio-item set-bg sensual {% cycle  'grid-item mix portfolio-item set-bg nature' 'grid-item mix portfolio-item set-bg portraits' 'grid-item mix portfolio-item __big set-bg weddings' 'grid-item mix portfolio-item __big set-bg sensual' %} {{bild.kategorie.kategorie_name}}"
                                                                                                  data-setbg="{{bild.bild.large.url}}"></a>
          {% else %}

          {% endif %}



          {% endfor %}

		   {% endfor %}




			<a href="#" class="grid-item mix portfolio-item portfolio-next-btn"><h3>Next</h3></a>

		</div>
	</section>
	<!-- Gallerie Section end-->
 {% endblock %}
