<footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="footer-about">
          <img src="img/logo.png" alt="">
          <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellen-tesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euis-mod suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices at.</p>
        </div>
      </div>





      <div class="col-lg-3 col-md-6">
        <div class="footer-info">
          <h6>Talk to us </h6>
          <ul>
            <li>+34 5667 4332 244</li>
            <li>Contact@sportify25.com</li>
            <li>office@sportify25.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-info">
          <h6>Location</h6>
          <ul>
            <li>MAin str. 25</li>
            <li>458811 CA</li>
          </ul>
        </div>
      </div>
    </div>


<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

  </div>
</footer>
